# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
next-env.d.ts

# database
prisma/*.db
prisma/*.db-journal
prisma/dev.db*

# uploads (runtime user content)
storage/

# env
.env
.env*.local
!.env.example

# scratch
.cache/
.tooling/
.freebuff/

# misc
.DS_Store
*.pem
coverage/
.vercel
*.tsbuildinfo
